 /* Font Import */
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300;400;500;700;900&display=swap');
 /* Resets, Defaults */
 :root{
     --primary: #6C63FF;
     --secondary: #F9A826;
     --dark: #000000;
     --light: #ffffff;
 }
 *,*::before, *::after{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 html{
     font-size: 64.5%;
 }
 body{
     font-family: "Roboto", sans-serif;
     font-weight: 400;
     font-size: 1.6rem;
     position: relative;
 }
 h1, h2, h3, h4{
     font-family: "Abril Fatface", sans-serif;
     letter-spacing: 2px;
 }
 ul{
     list-style-type: none;
 }
 a{
     text-decoration: none;
     color: currentColor;
 } 
 
 textarea{
     resize: vertical;
 }
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }
 
 input[type=number] {
   -moz-appearance: textfield;
 }
 
 input[type="file"]::-webkit-file-upload-button {
     visibility: hidden;
 }
 input[type="file"]::before {
     content: 'Browse Image';
     display: inline-block;
     background: var(--secondary);
     color: white;
     border-radius: 3px;
     padding: 10px;
     border: 1px solid white;
     font-size: 1.6rem;
     white-space: nowrap;
     cursor: pointer;
     font-weight: 700;
     transition: all 0.3s ease;
 }
 input[type="file"]:hover::before {
     border-color: var(--secondary);
     background: var(--light);
     color: var(--secondary);
 }
 input[type="file"]:active::before {
     background: gray;
 }
 
 .navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 40px;
     background: var(--primary);
 }
 .navbar img{
     height: 100px
 }
 .navlinks{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     font-weight: 600;
     font-size: 1.8rem;
     color: var(--light);
     z-index: 100;
 }
 .navlinks a{
     display: block;
     transition: all 0.3s ease;
     transform: scale(1);
     padding: 6px 10px;
     border-radius: 3px;
     margin: 0 16px;
 }
 .navlinks a:hover{
     transform: scale(1.5);
     color: var(--primary);
     background: var(--light);
 }
 
 .btn{
     background: var(--secondary);
     color: var(--light);
     padding: 10px;
     margin: 10px;
     display: inline-block;
     border-radius: 6px;
     cursor: pointer;
     border: none;
     transition: all 0.3s ease;
     font-weight: 600;
     font-size: 1.6rem;
 }
 .btn:hover{
     background: var(--light);
     color: var(--secondary);
 }
 .center{
     text-align: center;
 }
 .messages{
     position: absolute;
     left: 0;
     width: 100%;
     background: white;
     font-weight: 700;
     display: flex;
     justify-content: space-between;
     padding: 10px;
     align-items: center;
     top: 124px;
     z-index: 10;
     background: var(--dark);
     color: var(--light);
     border: 1px solid var(--light);
 }
 .messages ul{
     padding: 10px;
     padding-left: 20px;
 }
 .messages li{
     padding: 10px;
 }
 .messages .success{
     color: green;
 }
 
 .messages .info{
     color: blue;
 }
 
 .messages .warning{
     color: yellow;
 }
 .messages .error{
     color: red;
 }
 .messages .close{
     padding-right: 30px;
     cursor: pointer;
 }
 
 @media screen and (max-width: 1000px) {
     html{
         font-size: 50%;
     }
     .navbar{
         flex-direction: column;
         justify-content: center;
         padding-bottom: 20px;
     }
     .messages{
         top: 162px;
     }
 }
 
 @media screen and (max-width: 650px) {
     .navbar .logo{
         display: flex;
         justify-content: space-between;
         align-items: center;
         width: 100%;
         z-index: 100;
     }
     .navlinks{
         display: none;
     }
     .navlinks.active{
         display: flex;
         position: absolute;
         margin: 120px 0;
         top: 0;
         left: 0;
         width: 100%;
         height: 90vh;
         background: var(--primary);
         flex-direction: column;
     }
     .navlinks li {
         position: relative;
         width: calc(100% - 300px);
     }
     .navlinks a{
         text-align: center;
         width: 100%;
         margin: 0;
     }
     .navlinks a:hover{
         transform: scale(1.3);
     }
 
     .messages{
         top: 136px;
     }
     .menu {
         transform: scale(var(--ggs,1));
         cursor: pointer;
     }
     .menu,
     .menu::after,
     .menu::before {
         box-sizing: border-box;
         position: relative;
         display: block;
         width: 30px;
         height: 5px;
         border-radius: 3px;
         background: currentColor
     }
     .menu::after,
     .menu::before {
         content: "";
         position: absolute;
         top: -8px
     }
     .menu::after {
         top: 8px
     }
     .menu.active::before{
         transform: rotate(45deg) translate(8px, 5px);
     }
     .menu.active::after{
         transform: rotate(-45deg) translate(5px, -2px);
     }
     .menu.active{
         background: var(--primary)
     }
 }
 
 
 .footer{
     width: 100%;
     background: var(--primary);
     color: white;
     margin-top: 40px;
 }
 .footer-navCon{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;
 }
 .footer .footerNav{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     padding: 30px;
 }
 
 .footerNav .contactDetails,
 .footerNav .linksDetails{
     margin: 30px;
 }
 .footerNav .contactDetails h3,
 .footerNav .linksDetails h3{
     font-size: 3.4rem;    
     padding: 20px 0;
 }
 .footerNav ul li{
     font-size: 2.2rem;
     padding: 6px 0;
 }
 
 .copyrights{
     text-align: center;
     font-size: 2.4rem;
     font-weight: bold;
     border-top: 3px solid white;
     padding: 30px 0;
 }
 
 @media screen and (max-width: 950px) {
     .footer .footerNav{
         flex-direction: column;
         justify-content: center;
     }
 }
 @media screen and (max-width: 750px) {
     body{
         overflow-x: hidden;
     }
     .stepCard{
         width: 100%;
         justify-content: center;
     }
     .footer .footerNav{
         flex-direction: column;
     }
     .footer .footerNav img{
         width: 80%;
     }
     .totalScholarships::before,.totalScholarships::after{
         width: 900px;
         height: 90px;
     }
 }
 
 @media screen and (max-width: 500px) {
  html{
      font-size: 40%;
  }   
     
  .totalScholarships::before,.totalScholarships::after{
     width: 80px;
     height: 80px;
 }
 }
 
 .profile-card{
     width: 90%;
     margin: 30px auto;
     padding: 20px;
     background-color: #eee;
     border-radius: 8px;
 }
 
 
 /* ICONS by css.gg */
 
 .gg-website {
     box-sizing: border-box;
     position: relative;
     display: block;
     transform: scale(var(--ggs,1));
     width: 22px;
     height: 18px;
     border: 2px solid;
     border-radius: 3px;
     box-shadow: 0 -1px 0
    }
    
    .gg-website::after,
    .gg-website::before {
     content: "";
     display: block;
     box-sizing: border-box;
     position: absolute;
     width: 6px;
     top: 2px
    }
    
    .gg-website::before {
     background: currentColor;
     left: 2px;
     box-shadow: 0 4px 0,0 8px 0;
     border-radius: 3px;
     height: 2px
    }
    
    .gg-website::after {
     height: 10px;
     border: 2px solid;
     right: 2px;
     border-radius: 1px
    } 