{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="One place for many scholarships information">
    <title>Scholarships - {% block title %}{% endblock %}</title>
    {% block styles %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul class="logo">
            <li>
                <a href="{% url 'index' %}"><img src="{% static 'assets/Logo.png' %}" alt="Logo" /></a>
            </li>
            <li class="menu">
            </li>
        </ul>
        <ul class="navlinks">
            <li>
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'search' %}">Search</a>
            </li>
            <li>
                <a href="{% url 'new' %}">Add new</a>
            </li>
            <li>
                <a href="">Help</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'signUp' %}">Sign Up</a>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <!-- <footer class="footer">
        <div class="footerNav">
            <img src="{% static 'assets/Logo.png' %}" alt="Logo" />
            <div class="contactDetails">
                <h3>Contact:</h3>
                <ul class="contact">
                    <li>
                        <a href="mailto:admin@scholarships.com">admin@scholarships.com</a>
                    </li>
                    <li>+91 0000 000 000</li>
                </ul>
            </div>
            <div class="linksDetails">
                <h3>Links:</h3>
                <ul class="links">
                    <li>
                        <a href="">Add new Scholarships</a>
                    </li>
                    <li>
                        <a href="">Search Scholarships</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyrights">
            &copy; Vinay Kanse
        </div>
    </footer> -->
{% block scripts %}
    {% endblock %}
    <script>
        let menu = document.querySelector(".menu");
        let navlinks = document.querySelector(".navlinks");
        menu.addEventListener("click",()=>{
            menu.classList.toggle("active");
            navlinks.classList.toggle("active");
        })

    </script>
</body>
</html>