{% extends 'base.html' %}
{% load static %}
{% block title %}
Add new Scholarship
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}
{% block content %}
<div class="wrapper">
    <h2>Add Information of New Scholarship</h2>
    <form action="{% url 'new' %}" method="post" id="form" encType="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Scholarship Name:<span>*</span></label>
            <input type="text" name="name" id="name" required>
        </div>
        <div class="form-group">
            <label for="img">Banner Image(type: png, jpeg, jpg, gif): </label><span>*</span>
            <input type="file" name="img" id="img" accept="image/png, image/gif, image/jpeg, image/jpg" required>
        </div>
        <div class="form-group">
            <label for="name">Scholarship Provider:<span>*</span></label>
            <input type="text" name="provider" id="provider" required>
        </div>
        <div class="form-group">
            <label for="introduction">Introduction:<span>*</span> </label>
            <textarea name="introduction" id="introduction" cols="30" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label for="eligibility">Eligibility:<span>*</span> </label>
            <textarea name="eligibility" id="eligibility" cols="30" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label for="conditions">Conditions For Scholarship:<span>*</span> </label>
            <div id="conditionList">
                <input type="text" class="conditionItem" name="condition1" id="condition1" placeholder="Condition 1"
                    required>
            </div>
            <input type="hidden" name="conditionCount" id="conditionCount" value="1">
            <button class="btn" type="button" id="addCondition">+ Add Condition</button>
        </div>

        <div class="form-group">
            <label for="procedureOfApplication">Procedure Of Application:<span>*</span> </label>
            <textarea name="procedureOfApplication" id="procedureOfApplication" cols="30" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label for="rate">Rate of Scholarship:<span>*</span> </label>
            <textarea name="rate" id="rate" cols="30" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label for="duration">Duration:<span>*</span> </label>
            <textarea name="duration" id="duration" cols="30" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label for="evaluation">Evaluation: </label>
            <textarea name="evaluation" id="evaluation" cols="30" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="applyUrl">Apply Url:</label>
            <input type="text" name="applyUrl" id="applyUrl" placeholder="https://applicationform.com">
        </div>
        <div class="form-group">
            <h4>Social Links(atleast one required for contact)</h4>
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="number" name="phone" id="phone" placeholder="Phone Number">
            <input type="url" name="instagram" id="instagram" placeholder="Instagram Id">
            <input type="url" name="linkedin" id="linkedin" placeholder="Linkedin Id">
            <input type="url" name="facebook" id="facebook" placeholder="Facebook">
            <input type="url" name="website" id="website" placeholder="Website">
        </div>
        <div class="form-group">
            <div id="personalSection"></div>
            <input type="hidden" name="personalCountTotal" id="personalCountTotal" value="0">
            <button class="btn" type="button" id="addpersonalSection">+ Add Additional Section</button>
        </div>
        <div class="form-group">
            <input class="btn" type="submit" value="Add">
        </div>
    </form>
    <marquee behavior="alternate" direction="right">Scholarship will be visible once verified by Admin</marquee>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/new.js' %}"></script>
{% endblock %}